body {
	/*background-color: #662200;*/
	font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
	margin: 0px;
	background-color: black;
	-webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none;   /* Chrome/Safari/Opera */
  -khtml-user-select: none;    /* Konqueror */
  -moz-user-select: none;      /* Firefox */
  -ms-user-select: none;       /* IE/Edge */
  user-select: none;           /* non-prefixed version, currently
                                  not supported by any browser */
}

#mute {
	border: white solid 2px;
	bottom: 5px;
	/*color: #974455;*/
	font-size: 18pt;
	right: 10%;
	padding: 3px;
	position: absolute;
	color: white;
	z-index: 10;
	background-color: black;
	display: none;
}

#play {
	border: white solid 2px;
	bottom: 5px;
	/*color: #974455;*/
	font-size: 18pt;
	right: 10%;
	padding: 3px;
	position: absolute;
	color: white;
	z-index: 10;
	background-color: black;
	display: none;
}


#header {
	/*background-image: url("");*/
	box-shadow: 0 3px 3px white;
	height: 104px;
	position: relative;
}

#header > #title {
	bottom: 27.5px;
	font-size: 36pt;
	
}

#header > div {
	position: absolute;
	left: 0;
	right: 0;
	width: 100%;
	margin: 0 auto;
	color: white;
	font-family: Tahoma, sans-serif;
	text-align: center;
}

#header > div > span {
	font-weight: bold;
}

#header > #underHead {
	font-size: 15pt;
	bottom: 2.5px;
	
}

#main {
	height: 850px;
	/*border: black solid 2px;*/
	color: white;
}

#main img {
	object-fit: scale-down;
}

#main span {
	background-color: black;

}

#video {
	display: none;
}