body {
	/*background-color: #662200;*/
	font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
	margin: 0px;
	background-color: black;
	-webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none;   /* Chrome/Safari/Opera */
  -khtml-user-select: none;    /* Konqueror */
  -moz-user-select: none;      /* Firefox */
  -ms-user-select: none;       /* IE/Edge */
  user-select: none;           /* non-prefixed version, currently
                                  not supported by any browser */
}

#header {
	/*background-image: url("");*/
	box-shadow: 0 3px 3px white;
	height: 104px;
	position: relative;
}


#header > div {
	position: absolute;
	left: 0;
	right: 0;
	width: 100%;
	margin: 0 auto;
	color: white;
	font-family: Tahoma, sans-serif;
	text-align: center;
	height: 5vh;
}

body {
	background-color: white;
	text-align: center;
}

h1 {

}

#main {
	border: white solid 2px;
	text-align: center;
	margin: 0 auto;
	height: 85vh;
	width: 50%;
}

iframe {
	width: 100%;
	height: 100%;
}
#video {
	display: none;
}