/*Alex Gilbert
CSE 154 AH
Winter 2016

This is the css page which adds some style to my Fifteen Puzzle.*/

body {
	font-family: default;
	font-size: 14pt;
	text-align: center;
	background-image: url("backgroundimage.jpg");
	background-attachment: fixed;
	color: white;
}

#controls {
	clear: both;
}

#puzzlearea {
	position: relative;
	width: 400px;
	height: 400px;
	margin: auto;
	font-family: cursive;
	color: black;
}

.tile {
	height: 90px;
	width: 90px;
	border: 5px solid black;
	font-size: 40pt;
}

#selector {
	margin: auto;
}
