#header {
	text-align: center;
}

body {
	font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
	background-attachment: fixed;
	background-image: url("Elegant_Background-1.jpg");
}

.content {
	display: inline-block;
}

#tableofcontents {
	width: 80%;
	margin-top: 30px;
	margin-bottom: 30px;
	text-align: center;
	border-bottom: 2px solid black;
	padding: 10px;
	margin: auto;
}

.example {
	/*display: inline-block;
	vertical-align: text-top;*/
	/*margin-left: 5%;
	margin-right: 5%;*/
	width: 100%;
	text-align: center;
	margin: auto;
	height: 400px;
	overflow: hidden;
	border-bottom: 2px solid black;
	padding: 10px;
}

.nopics {
	height: auto;
}

#mystuff {
	width: 80%;
	margin-top: 30px;
	margin-bottom: 30px;
	/*border: 2px solid black;*/
	text-align: center;
	padding: 10px;
	margin: auto;
}

#mystuff p {
	font-style: italic;
}

h2 {
	font-weight: normal;
}

.textright, .textleft, .picright, .picleft {
	width: 45%;
	padding: 5px;
	height: 95%;
}


.textright /*:nth-child(even)*/ {
	float: right;
}

.textleft /*:nth-child(odd)*/ {
	float: left;
}

.picright {
	float: right;
}

.picleft {
	float: left;
}

.picright > img, .picleft > img {
	max-height: 100%;
}

#special {
	font-style: initial;
}

.nopics .picleft, .nopics .picright {
	display: none;
}

.nopics .textleft, .nopics .textright {
	width: 100%;
}

h1 {
	font-size: 50px;
	margin-bottom: -3px;
}

#smallerh2 {
	font-size: 15px;
}