#header {
	text-align: center;
}

body {
	font-family: "Helvetica", "Arial", sans-serif;
}

.example {
	display: inline-block;
	vertical-align: text-top;
	margin-left: 5%;
	margin-right: 5%;
	width: 10%;
}

#mystuff {
	width: 100%;
	margin-top: 30px;
	margin-bottom: 30px;
	/*border: 2px solid black;*/
	text-align: center;
	font-style: italic;

}

h2 {
	font-weight: normal;
}