/*Alex Gilbert
CSE 154 AH
Winter 2016

This is the CSS page which styles the Speedreader website.*/

body {
	background-color: #EAF6F6;
	font-family: "Garamond", serif;
	font-size: 12pt;
}

button {
	background-color: white;
	border: 1px solid gray;
	width: 70px;
}

button:disabled {
	background-color: lightgray;
}

button, select, input {
	font-family: inherit;
	font-size: inherit;
}

#controlArea {
	text-align: center;

}

fieldset {
	display: inline-block;
	border: none;
	text-align: center;
	vertical-align: text-top;
}

h1 {
	text-align: center;
}

#inputBox textarea {
	background-color: #FFFFFF;
	border: 1px solid gray;
}

#inputBoxBox {
	/*Seems redundant but it only resizes using this extra div*/
	display: block;
	text-align: center;
}

#outputArea {
	width: 80%;
	height: 100px;
	margin: 0 auto;
	text-align: center;
	border: 2px solid #8EBEBE;
	border-radius: 5px;
	background-color: #FFFFFF;
	font-size: 36pt;
	font-family: monospace;
	line-height: 100px;

}

legend {
	font-weight: bold;
	text-align: left;
	border-bottom: 1px solid #8EBEBE;
	width: 100%;
	display: block;
	padding: 2px;
}

#validation {
	position: fixed;
	bottom: 0px;
	left: 5px;
}

#validation img {
	width: 70px;
}